@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500);

*{
	margin:0;
	padding:0;
}
body {
		background: url('../assets/site/mainbg.jpg') no-repeat;
		background-position: 100%;
		background-size: cover;
		overflow: hidden;;
}
#head {
		position: absolute;
		right: 15px;
		left: 0px;

		height: 100px;

		opacity: 0.9;
		background-color: #000000;
		background-image: url("https://www.transparenttextures.com/patterns/binding-dark.png");
}

.typed-cursor {
		-webkit-animation: blink 1s infinite;
		-moz-animation: blink 1s infinite;
		-ms-animation: blink 1s infinite;
		-o-animation: blink 1s infinite;
		animation: blink 1s infinite;

		opacity: 1;

		font-weight: 100;
}

@-keyframes blink {
		0% {
				opacity: 1;
		}
		50% {
				opacity: 0;
		}
		100% {
				opacity: 1;
		}
}

@-webkit-keyframes blink {
		0% {
				opacity: 1;
		}
		50% {
				opacity: 0;
		}
		100% {
				opacity: 1;
		}
}

@-moz-keyframes blink {
		0% {
				opacity: 1;
		}
		50% {
				opacity: 0;
		}
		100% {
				opacity: 1;
		}
}

@-ms-keyframes blink {
		0% {
				opacity: 1;
		}
		50% {
				opacity: 0;
		}
		100% {
				opacity: 1;
		}
}

@-o-keyframes blink {
		0% {
				opacity: 1;
		}
		50% {
				opacity: 0;
		}
		100% {
				opacity: 1;
		}
}

.but {
		padding: 20px 20px 20px 20px;

		color: white;
		border: 3px white solid;
		background: transparent;
		text-shadow: 2px 2px 2px black;

		font-family: Helvetica;
		font-weight: bold;
}

.but:hover {
		color: black;
		background-color: white;
}
.br{
	display:none;
}
.mob_font{
	text-shadow: 3px 3px black;
}

a{
	text-decoration: none;

	color:white;
}
a:hover{
	color:#999;
}
p{
	margin:0 0 20px;

	text-align: center;

	line-height: 2em;
}
.nline
{
	padding-left:0px;
}

.wrap{
	max-width: 750px;
	height: 150px;
	margin:180px auto 40px auto;

	letter-spacing:-2px;

	color:white;

	font-family: "Ubuntu", sans-serif;
	font-size: 300%;

}
.logo_un{
	width:100px;
	height:90px;

}

.logo_hs{
	width:100px;
	height:100px;

}

.logo_j{
	float:right;

	width:100px;
	height:100px;

}

.type-wrap{
	margin:50px auto;
	padding:10px;
	/*

	background:#f0f0f0;
	border-radius:5px;
	border:#CCC 1px solid; */
}


@media only screen and (max-width: 80em) {
	*{
		margin:0;
		padding:0;
	}


	p{
		margin:0 0 20px;

		text-align: center;

		line-height: 2em;
	}

	.mob_font{
		text-shadow: 1px 1px black;

		font-size:21px;
	}
	.wrap{
		max-width: 750px;
		height: 150px;
		margin:190px auto 0px auto;

		letter-spacing:-1px;

		color:white;

		font-family: "Ubuntu", sans-serif;
		font-size: 300%;

	}
.br{
	display:inline-block;

}
.nline
{ padding-left:90px;
}
	.type-wrap{
		margin:50px auto;
		padding:10px;
		/*

        background:#f0f0f0;
        border-radius:5px;
        border:#CCC 1px solid; */
	}

	.logo_un{
		width:90px;
		height:90px;

	}
	.logo_hs{
		width:100px;
		height:100px;

	}
	.logo_j{
		width:100px;
		height:100px;


	}

}
.mob_font{
	font-weight: bold;
}
.typed-font{
	color: red;
}
.button, .button:hover{
	text-decoration: none;
}
