/*-------------------------------------------------------
[Table of contents]

1. Header
	+ logo
	+ navigation

2. Content
	+ feature sections
	+ page title
	+ parallax backgrounds
	+ video backgrounds

3. Typography
	+ lists
	+ buttons
	+ styled boxes
	+ dropcaps
	+ highlight colors
	+ tables
	+ pricing tables
	+ framed boxes
	+ pagination

4. Footer
	+ copyrights
	+ google map

--------------------------------------------------------*/


.logo {
	float: left;

	width: 35%;
}

.logo img {
	float: left;

	width:100px;
	margin-top:10px;
	margin-bottom:10px;
	margin-left: 27px;
}
.logo-text{
	padding-top: 15px;
	padding-left: 40px;

	font-family: Arial Black;
	font-weight: bold;
}
.red-text{
	color: red;
}
.white-text{
	color: white;
}
.black-text{
	color: black;
}
.text-center{
	text-align: center;
}
.menu_main {
	float: right;

	width: 65%;
	margin-top:10px;

}
.menu_ul{
	font-size: 15px;
}
.mob_logo
{
	font-size:30px;
}
.mob_tlogo
{
	padding-left:10px;

	font-size:20px;
}
.message
{
	padding-left:60px;

	font-size:35px;
}
.commit{
	font-size:13px;
}
.countdownEl{
	padding-top: 40px;

	text-align: center;
}
/*------------------*/
/*	SITE STRUCTURE
/*------------------------------------------------------*/

.site_wrapper {
	width: 100%;
	margin: 0 auto 0 auto;
}
.container_full {
	float: left;

	width: 100%;
	margin: auto auto auto auto;

	 background-color:black;
}

.container {
	width: 1170px;
	margin: auto auto auto auto;
}

.content_fullwidth {
	float: left;

	width: 100%;
	padding: 50px 0px 0px 0px;
}
.content_left {
	float: left;

	width: 71%;
	padding: 50px 0px 0px 0px;
}
.right_sidebar {
	float: right;

	width: 25%;
	padding: 50px 0px 0px 0px;
}
.left_sidebar {
	float: left;

	width: 25%;
	padding: 50px 0px 0px 0px;
}
.content_right {
	float: right;

	width: 71%;
	padding: 50px 0px 0px 0px;
}


/* columns */
.one_half, .one_third, .one_fourth, .two_third, .three_fourth, .one_fifth {
	position: relative;

	float: left;

	margin-right: 4%;
}
.one_full {
	width: 100%;
}
.one_half {
	width: 48%;
}
.one_third {
	width: 30.650%;
}
.one_fourth {
	width: 22%;
}
.one_fifth {
	width: 16.800%;
}
.two_third {
	width: 65.350%;
}
.three_fourth {
	width: 74%;
}

.last {
	clear: right;

	margin-right: 0 !important;
}


/*------------------*/
/*  PAGE SECTIONS
/*------------------------------------------------------*/

/* about section */
.section1 {
	float: left;

	width: 100%;
	padding: 90px 0px 90px 0px;
}
.section1 .one_fourth {
	margin: 0;
	padding-right: 1.5%;
	padding-bottom: 10px;
	padding-left: 1.5%;

	text-align: center;

	background: url(../images/v-line.png) no-repeat right bottom;
}
.section1 .one_fourth.last {
	margin: 0;

	background: none;
}

.section1 .circle {
	width: 160px;
	height: 160px;
	margin: 0 auto;
	margin-bottom: 40px;

    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transition-duration: 250ms;
	-webkit-transform: scale(1,1);
    -moz-transform: scale(1,1);
	text-align: center;
	vertical-align: middle;

	color: red;
	border: 5px solid #f3f3f3;
	border-radius: 100%;

	font-size: 57px;
	line-height: 148px;

}
.section1 .circle:hover {
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transition-duration: 250ms;
	-webkit-transform: scale(1.05,1.07);
    -moz-transform: scale(1.05,1.07);

	color: #fff;
	background-color: red;

}
.section1 strong {
	display: block;

	margin-bottom: 18px;

	text-transform: uppercase;

	color: #272727;

	font-size: 20px;
	font-weight: 600;
}

.funfacts {
	float: left;

	width: 100%;
	padding: 80px 0px 70px 0px;

	text-align: center;

	background-color: #f3f3f3;
}
.funfacts span {
	color: #272727;

	font-family: 'Roboto Slab', serif;
	font-size: 65px;
}
.funfacts h4 {
	margin: 13px 0px 0px 0px;

	text-transform: uppercase;

	color: #727272;

	font-size: 21px;
}



/* portfolio section */
.section2 {
	float: left;

	width: 100%;
	padding: 90px 0px 90px 0px;

	background: black url(../images/para-bg1.png) repeat-y center -65px;
}

/* services section */
.section3 {
	float: left;

	width: 100%;
	padding: 90px 0px 0px 0px;

	background: #272727 url(../images/para-bg2.jpg) repeat-y center -150px;
}
.section3 .one_fourth {
	padding: 30px 0px;

	text-align: center;

	color: #fff;
	border-radius: 2px;
}
.section3 .one_fourth:hover, .section3 .one_fourth.active {
	-webkit-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out

	background-color: red;
}
.section3 .one_fourth:hover strong, .section3 .one_fourth.active strong {
	color: #fff;
}
.section3 strong {
	display: block;

	margin-top: 20px;
	margin-bottom: 13px;

	text-transform: uppercase;

	color: red;

	font-size: 20px;
	font-weight: 600;
}

.peosec {
	float: left;

	width: 100%;
	margin-bottom: 25px;
	padding-bottom: 30px;

	background: url(../images/h-line.png) no-repeat left bottom;
	}
.peosec img {
	float: left;

	width: 230px;
	height: 230px;
	margin-right: 20px;

	border:7px solid white;
	border-radius: 100%;
	box-shadow:2px 2px 2px black;
}
.peosec strong {
	float: left;

	margin-top: 93px;

	color: red;

	font-size: 30px;
	font-weight: normal;
}
.peosec strong i {
	display: block;

	color: #999;

	font-size: 12px;
	font-style: normal;
}


/* pricing section */
.section4 {
	float: left;

	width: 100%;
	padding: 90px 0px 100px 0px;

	background-color: #f3f3f3;
}
.section4 .packagesinfo {
	margin-top: 90px;
}
.section4 .packagesinfo ul {
	float: left;

	width: 107%;
	margin: 0px;
	padding: 0px;
}
.section4 .packagesinfo li {
	width: 100%;
	margin: 0px;
	padding: 10px 0px;

	text-align: center;

	border-bottom: 1px solid #eee;
	background-color: #fff;
}
.section4 .packagesinfo li.title {
	padding: 25px 0px;

	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	background-color: #fff;
}
.section4 .packagesinfo li.title h4 {
	margin-bottom: 10px;

	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}
.section4 .packagesinfo li.title h2 {
	margin: 0px;
	margin-bottom: 0px;

	background: none;

	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}
.section4 .packagesinfo li.title h2 em {
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
}
.section4 .packagesinfo li.planbut {
	padding: 35px 0px;

	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	background-color: #fff;
}
.section4 .packagesinfo li.planbut a {
	padding: 12px 28px;

	color: #fff;
	border-radius: 4px;
	background-color: #b1b1b1;

	font-size: 16px;
}
.section4 .packagesinfo li.planbut a:hover {
	color: #fff;
	background-color: red;
}
.section4 .packagesinfo ul.active li.planbut a {
	color: #fff;
	background-color: red;
}
.section4 .packagesinfo ul.active li.title h4 {
	color: red;
}
.section4 .packagesinfo ul.active li.title h2 {
	color: red;
}
.section4 .packagesinfo ul.active li.title {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}
.section4 .packagesinfo ul.active li.mostp {
	padding: 5px 0px;

	color: #fff;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	background-color: red;
}
.section4 .packagesinfo ul.active {
	margin-top: -34px;
}
.section4 .packagesinfo ul:hover {
	 box-shadow: 0px 0px 5px #bbb;

}

/* parallax 1 */
.parallax_sec1 {
	float: left;

	width: 100%;
	padding: 100px 0px 100px 0px;

	text-align: center;

	background: #272727 url("../images/para-bg3.jpg");
	background-repeat:no-repeat;
	background-attachment: fixed;
	background-position:100% 0;
	background-position: center;
	background-clip: initial;
	background-origin: initial;
	background-size: cover;
}
.parallax_sec1 h1 {
	padding: 0px;

	color: #fff;

	font-weight: 200;
	line-height: 62px;
}
.parallax_sec1 h1 strong {
	font-weight: 400;
}
.parallax_sec1 h5 {
	color: #fff;
}
.parallax_sec1 a {
	padding: 13px 30px;

	text-transform: uppercase;

	color: #fff;
	border: 1px solid #fff;
	border-radius: 4px;

	font-size: 16px;
}
.parallax_sec1 a:hover {
	color: #272727;
	background-color: #fff;
}

/* parallax 2 */
.parallax_sec2 {
	float: left;

	width: 100%;
	padding: 100px 0px 130px 0px;

	text-align: center;

	background: url("../images/para-bg3.jpg");
	background-repeat:no-repeat;
	background-attachment: fixed;
	background-position:100% 0;
	background-position: center;
	background-clip: initial;
	background-origin: initial;
	background-size: cover;
}

/* parallax 3 */
.parallax_sec3 {
	float: left;

	width: 100%;
	padding: 100px 0px 140px 0px;

	text-align: center;

	background: #eee url("../images/para-bg4.jpg");
	background-repeat:no-repeat;
	background-attachment: fixed;
	background-position:100% 0;
	background-position: center;
	background-clip: initial;
	background-origin: initial;
	background-size: cover;
}
.parallax_sec3 i {
	width: 106px;
	height: 106px;

	vertical-align: middle;

	color: #fff;
	border-radius: 100%;
	background: red url(../images/site-img5.png) no-repeat center top;

	font-size: 35px;
	line-height: 106px;
}
.parallax_sec3 a.morelink {
	padding: 4px 13px 0px 13px;

	text-transform: uppercase;

	color: #272727;
	background-color: #fff;

	font-weight: 600;
}



/* blogs section */
.section5 {
	float: left;

	width: 100%;
	padding: 90px 0px 100px 0px;
}
.section5 .one_third {
	-webkit-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out

	background-color: #f3f3f3;
}
.section5 .one_third:hover {
	background-color: #272727;
}
.section5 .one_third:hover h4 {
	color: #fff;
}
.section5 .one_third img {
	float: left;
}
.section5 .one_third .cont {
	float: left;

	padding: 30px 0px 40px 30px;
}
.section5 .one_third a {
	padding: 5px 13px;

	color: #727272;
	background-color: red;

	font-size: 13px;
}
.section5 .one_third a i {
	color: white;


}
.section5 .one_third a:hover {
	background: none;
}

.punchtext {
	float: left;

	width: 100%;
	padding: 60px 0px 50px 0px;
}
.punchtext h3 {
	float: left;

	margin-top: 10px;

	color: red;
}
.punchtext a {
	-webkit-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out

	color: red;
	/*padding: 3px 80px;*/

	border-radius: 5px;

	font-size: 26px;
}




/* contact section */
.section6 {
	float: left;

	width: 100%;
	padding: 90px 0px 65px 0px;

	background: #101010 url(../images/para-bg5.jpg) no-repeat center top;
}
.cforms {
	float: left;

	width: 100%;
	margin-top: -20px;
}
.addressinfo {
	font-size: 16px;
	line-height: 27px;
}
.addressinfo a {
	color: #999;
}
.addressinfo a:hover {
	color: #fff;
}
.googglemap {
	float: left;
}
.google-map {
	width: 99%;
}
a.glink {
	color: #727272;

	font-size: 12px;
}
a.glink:hover {
	color: #999;
}


/* copyrights section */
.copyrights {
	float: left;

	width: 100%;
	padding: 62px 0px 50px 0px;

	text-align: center;

	background-color: #f9f9f9;
}
.copyrights ul {
	width: 27%;
	margin: 0 auto;
	padding: 0px;
}
.copyrights li {
	float: left;

	margin: 0px 7px;
	padding: 0px;
}
.copyrights li a {
	float: left;

	width: 46px;
	height: 46px;

	-webkit-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out
	vertical-align: middle;

	color: #4c4c4c;
	border: 1px solid #d9d9d9;
	border-radius: 100%;
	background-color: #f3f3f3;

	font-size: 16px;
	line-height: 46px;
}
.copyrights li a:hover {
	background-color: #d9d9d9;
}


/* scroll up */
.scrollup{
    position:fixed;
	z-index: 999;
    right:20px;
    bottom:22px;

    display:none;

    width:40px;
    height:40px;

    text-indent:-9999px;

    opacity:1;
    background: url(../images/scroll-top-arrow.png) no-repeat left top;
}

@media only screen and (max-width: 80em) {


	.mob_logo{
		font-size:13px;
	}


	.logo img {
		float: left;

		width:66px;
		margin-top:10px;
		margin-bottom:10px;
		margin-left: 27px;
	}
 	.mob_tlogo
	{
		padding-left:5px;

		font-size:10px;
	}
	.peosec strong {
		font-size:25px;
	}
	.message
	{
		padding-left:60px;

		font-size:35px;
	}
	.commit{
		font-size:13px;
	}
	.frame
	{
		width:700px;
		height:200px;
	}
}
.text {
		padding-top: 5px;

		color: white;

		font-family: Rockwell;
		font-weight: bold;
}

.apply {
		margin-left: 175px;
		padding: 25px 25px 25px 25px;

		color: black;
		border: 3px #1c88b5 solid;

		font-family: Rockwell;
		font-size: 20px;
}

.apply:hover {
		color: white;
		background-color: black;
}

.hometext {
		animation: text 2s infinite;
}

@keyframes text {
		0% {
				opacity: 1;
		}
		50% {
				opacity: 0;
		}
		100% {
				opacity: 1;
		}
}

.main {
		padding: 0px;
}

.size {
		width: 100%;
		height: 100%;
}
#home{
	position:relative;
	top:8px;
}
.carousel-1{
	top:150px;

	text-shadow:3px 3px black;
}
.carousel-1-down{
	top: 235px;
}
.carousel-2{
	top:190px;

	text-shadow:3px 3px black;
}
.carousel-2-down{
	top:270px;

	text-shadow:3px 3px black;
}
.hell-3{
	top:365px;

	text-shadow:3px 3px black;
}
.hell-1{
	top:295px;
	left:570px;

	text-shadow:3px 3px black;
}
.carousel-3{
	top:90px;
	left:670px;

	text-shadow:3px 3px black;
}
.carousel-3-down{
	top:170px;
	left:670px;

	text-shadow:3px 3px black;
}
.carousel-4{
	top:160px;

	text-shadow:3px 3px black;
}
.carousel-4-down{
	top:245px;text-shadow:3px 3px black;
}
.peosec{
	margin-left:60px;
}
.messageSec{
	font-family:'Century Gothic';
	font-weight:bold;
	font-size:16px;
	padding-left:60px;
}
.committee-head{
	font-size: 35px;
}
.hundred{
	width: 100%;
	height: 100%;
}
.execImg{
	height: 335px;
}
.pressImg{
	height: 270px;
}
.secretariatImg{
	height: 320px;
	width: 100%;
}
#gmap{
	height:200px;
	width:320px;
}
#map-Outer{
	overflow:hidden;
	height:200px;
	width:320px;
}
