---
layout: default2
title: Team
permalink: /our_team/
---
<section id="team">
<div class="container-fluid">
<h1>Our Team</h1>
{% for grp in site.data.team %}
<p class="group" id="{{ grp.group }}">{{ grp.group }}<p>
<div class="flex-container">
  {% for member in grp.members %}
    <div class="flex-element">
      <img src="{{ member.profile_pic }}" alt="{{ member.name }}" class="image">
      <p class="name">{{ member.name }}</p>
    </div>
    {% endfor %}
</div>
  {% endfor %}
</div>

</section>
