body {
      font: 400 15px Lato, sans-serif;
      line-height: 1.8;
      color: #818181;
  }
  h1 {
      text-transform: uppercase;
      color: #013148;
      font-weight: bold;
      margin-bottom: 30px;
  }
  .img-size-4{
      width: 60%;
      height: auto;
  }
  .img-size-3{
      width: 50%;
      height: auto;
  }
  .img-size-2{
      width: 35%;
      height: auto;
  }

  h3 {
      font-size: 22px;
      color: #353535;
      font-weight: 400;
  }

  h4 {
      font-size: 19px;
      line-height: 1.375em;
      color: #303030;
      font-weight: 400;
      margin-bottom: 10px;
  }

  span{
    margin-right: 8px;
  }

  .container-fluid {
      padding: 50px 50px;
  }
  .bg-grey {
      background-color: #f6f6f6;
  }

  .designation{
    margin-top: -10px;
    margin-bottom: 10px;
  }

  .carousel-control.right, .carousel-control.left {
      background-image: none;
      color: #013148;
  }
  .carousel-control.right{
      right: -60px;
      }
  .carousel-control.left {
    left: -60px;
  }
  .carousel-indicators li {
      border-color: #013148;
  }
  .carousel-indicators li.active {
      background-color: #013148;
  }
  .carousel-indicators{
      position: relative;
      margin: 0px;
      margin-top: 25px;
      padding: 0px;
      width: 100%;
      left: 0;
  }

  .personal-buttons{
    position: relative;
  }

  ul.personal-buttons{
    margin: 0px;
    padding: 0px;
  }

  .personal-buttons li{
    display: inline-block;
  }

  .personal-btn{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    background: #2c3e50;
    display: inline-block;
    color: #fff;
    line-height: 35px;
    margin: 4px;
    margin-top: 0px;
    text-align: center;
  }

  .personal-btn:hover, .personal-btn:focus {
      background: #013148;
      color: #fff;
  }

  .personal-btn i {
      font-size: 1em;
      line-height: inherit;
  }

   .lg-scr{
     display: inline-block;
   }
   .sm-scr{
     display: none;
   }

  /* slide animation on scroll */
  .slideanim {visibility:hidden;}
  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
/*------------------*/

  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
    #contact-details{
      margin-left: 0px;
      height: auto;
    }
    .social-buttons {
      position: relative;
      margin-top: 30px;
      margin-bottom: 30px;
    }
  .img-size-4{
      width: 60%;
      height: auto;
  }
  .img-size-3{
      width: 60%;
      height: auto;
  }
  .img-size-2{
      width: 60%;
      height: auto;
  }
        h1{font-size:20px;}
}
  @media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
        h1{font-size:20px;}
.img-size-4{
      width: 60%;
      height: auto;
  }
  .img-size-3{
      width: 60%;
      height: auto;
  }
  .img-size-2{
      width: 60%;
      height: auto;
  }  
}


/*------------------*/
@media screen and (max-width: 500px) {
   .lg-scr{
      display: none;
   }
      h1{font-size:20px;}
   .sm-scr{
     display: inline-block;
   }
.img-size-4{
      width: 60%;
      height: auto;
  }
  .img-size-3{
      width: 60%;
      height: auto;
  }
  .img-size-2{
      width: 60%;
      height: auto;
  } 
}
