#contact .contact-info .row{
    height: 60px;
    margin: 0px 10px;
    padding:10px 0;
    border-bottom: 1px solid #f92;
}
#contact .contact-info .icon{
    height: 100%;
    width: 40px;
    float:left;
}
#contact .contact-info .icon-desc{
    height: 100%;
    margin-left: 55px;
    line-height: 40px;
    color: white;
    font-size: 22px;
}
#contact .contact-info .icon a{
    width:100%;
    height: 100%;
    padding: 0;
    background: white;
    display:block;
    overflow: hidden;
    color: transparent;
}
#contact .contact-info .row.address-link{
    height: auto;
    line-height: 40px;
}
#contact .contact-info .row.address-link .icon-desc{
    line-height: 25px;
}

#contact .contact-info a.facebook-icon{ background: url(../img/contact-facebook.png);}
#contact .contact-info a.twitter-icon{ background: url(../img/contact-twitter.png);}
#contact .contact-info a.email-icon{ background: url(../img/contact-email.png);}
#contact .contact-info a.phone-icon{ background: url(../img/contact-phone.png);}
#contact .contact-info a.address-icon{ background: url(../img/contact-address.png);}
#contact .contact-info .row .icon a{
    background-size: 40px;
}
#contact .contact-info .row .icon a:hover{
    transform: scale(1.2) rotate(-5deg);
    -webkit-transform: scale(1.2) rotate(-5deg);
    -webkit-transition: all 0.4s;-moz-transition: all 0.4s;-ms-transition: all 0.4s;-o-transition: all 0.4s;transition: all 0.4s;
}

.contact-form,.contact-form input,.contact-form textarea{
    font-size:17px;
    line-height: 21px;
    padding:15px;
}

#message-intro{
    font-size:18px;
    color:#aaa;
    margin-top:1em;
    padding-left:1.5em;
}

#contactform .input-group{
    width:100%;
}
#contactform .input-group .form-control{
    margin-left: 6px;
}
#contactform .input-group .input-group-addon{
    width:18%;
    background: #F88B27;
    color:#212136;
    font-weight:bolder;
    font-size:1em;
    line-height: 1em;
}
#contactform .controls input{
    background: #F88B27;
    border-color: black;
    color:black;
    font-weight: bold;
}