<div class="section4" id="pricing">
    <div class="container">
        <h1>APPLY NOW</h1>
        <h5><b>JECRC FOUNDATION PRESENTS&nbsp <i>JECRC MUN 2017</i>, Prizes worth ₹ 5 lakh !!! &nbspFor More Information, Kindly Contact Us.</b></h5>
        <div class="one_third packagesinfo animate" data-anim-type="fadeInUp" data-anim-delay="400">
            <ul class="active">
                <li class="mostp">APPLY AS A DELEGATE</li>
                <li class="title"> <img src="images/delegate.png" alt="" /></li>
                <li><strong>Delegate Application Fee:</strong> ₹ 1200</li>
                <li><strong>Accomodation Fee:</strong> ₹ 600</li>
                <li class="planbut"><a href="#">CLICK HERE</a></li>
            </ul>
        </div>
        <div class="one_third packagesinfo animate" data-anim-type="fadeInUp" data-anim-delay="600">
            <ul class="active">
                <li class="mostp">APPLY AS A EXECUTIVE BOARD</li>
                <li class="title"> <img src="images/eboard-incon.png" class="execImg" alt="" /></li>
                <li><strong>Are Open Now !!!</strong></li>
                <li class="planbut"><a href="#">CLICK HERE</a></li>
            </ul>
        </div>
        <div class="one_third last packagesinfo animate" data-anim-type="fadeInUp" data-anim-delay="1000">
            <ul class="active">
                <li class="mostp">INTERNATIONAL PRESS APPLICATIONS</li>
                <li class="title"> <img src="images/ipapplications.png" class="pressImg" alt="" /></li>
                <li style="padding-top:45px;padding-bottom:40px;"><strong>Journalist & Photographer Fee:</strong> ₹ 800</li>
                <li class="planbut"><a href="#">CLICK HERE</a></li>
            </ul>
        </div>
    </div>
</div>
