<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="ms-fullscreen-template" id="slider1-wrapper">
                <div class="master-slider ms-skin-default" id="masterslider">
                    <div class="ms-slide slide-1" data-delay="5">
                        <h3 class="ms-layer thin-text-white blacktext carousel-1" data-type="text" data-effect="rotate3dleft(50,0,0,380)" data-duration="1000" data-ease="easeInOutQuint">
                        DIPLOMACY AT
                    </h3>
                        <h3 class="ms-layer thin-text-black whitetext carousel-1-down" data-type="text" data-effect="rotate3dright(-50,0,0,380)" data-duration="1000" data-ease="easeInOutQuint">
                        ITS ZENITH
                    </h3>
                        <img src="images/pic2.jpg" alt="" />
                    </div>
                    <div class="ms-slide slide-2 " data-delay="5">
                        <h3 class="ms-layer thin-text-white blacktext carousel-2" data-type="text" data-effect="skewright(25,250)" data-duration="1500" data-ease="easeOutQuart" data-delay="700">
                        TIME FOR
                    </h3>
                        <h3 class="ms-layer thin-text-white blacktext carousel-2-down" data-type="text" data-effect="scalebottom(1.1,1.1,50)" data-duration="1500" data-ease="easeOutQuart" data-delay="1200">
                        JECRC MUN 2017
                    </h3>
                        <div class="ms-layer hell-3" data-type="text" data-duration="900" data-delay="2200" data-ease="easeOutExpo" data-effect="bottom(40)">
                        </div>
                        <img src="images/pic3.jpg" alt="" />
                    </div>
                    <div class="ms-slide slide-3" data-delay="5">
                        <h3 class="ms-layer thin-text-white blacktext carousel-3" data-type="text" data-effect="skewright(25,250)" data-duration="1500" data-ease="easeOutQuart" data-delay="100">
                        QUESTIONS ?
                    </h3>
                        <h3 class="ms-layer big-text carousel-3-down" data-type="text" data-effect="scalebottom(1.1,1.1,50)" data-duration="1500" data-ease="easeOutQuart" data-delay="600">
                        CONTACT US
                    </h3>
                        <div class="ms-layer hell-1" data-type="text" data-duration="900" data-delay="1600" data-ease="easeOutExpo" data-effect="bottom(40)">
                        </div>
                        <img src="images/main1.jpg" alt="" />
                    </div>
                    <div class="ms-slide slide-4" data-delay="5">
                        <h4 class="ms-layer small-text carousel-4" data-type="text" data-effect="top(45)" data-duration="3400" data-delay="100" data-ease="easeOutExpo">
                        DELEGATES APPLICATIONS
                    </h4>
                        <h4 class="ms-layer bold-text-white bigtext carousel-4-down" data-type="text" data-effect="top(45)" data-duration="3400" data-delay="700" data-ease="easeOutExpo">
                        ARE OPEN NOW !!!
                    </h4>
                        <img src="images/main3.jpg" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
