<div class="section2" id="committee">
    <div class="container">
        <h1 class="white committee-head"><b>COMMITTEES</b></h1>
        <h5><b class="white">There are 5 committees in JECRC Model United Nations. Your participation is awaited.</b></h5>
        <div class="clearfix margin_top5"></div>
        <div id="filters-container" class="cbp-l-filters-button animate" data-anim-type="fadeInRight">
            <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">ALL COMMITTEES</div>
            <div class="cbp-filter-item"><a href="#">SEE THE EXEXCUTIVE BOARD</a></div>
            <div class="cbp-filter-item"><a href="#">VIEW COUNTRY MATRIX</a></div>
            <div class="cbp-filter-item"><a href="#">VIEW BACKGROUND GUIDES</a></div>
        </div>
    </div>
    <div class="container_full animate" data-anim-type="fadeInUp">
        <div id="grid-container" class="cbp-l-grid-fullScreen">
            <ul>
                <li class="cbp-item web-design">
                    <a href="./images/ga.jpg" class="cbp-caption cbp-lightbox">
                        <div class="cbp-caption-defaultWrap">
                            <img src="./images/ga.jpg" class="size" alt="" />
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignLeft">
                                <div class="cbp-l-caption-body">
                                    <div class="cbp-l-caption-title">GA-DISEC</div>
                                    <div class="cbp-l-caption-desc"><b class="commit">International Peace and security with special<br> emphasis on South China Sea</b></div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="cbp-item web-design">
                    <a href="./images/nation.jpg" class="cbp-caption cbp-lightbox">
                        <div class="cbp-caption-defaultWrap">
                            <img src="./images/nation.jpg" class="size" alt="" />
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignLeft">
                                <div class="cbp-l-caption-body">
                                    <div class="cbp-l-caption-title">UNSC</div>
                                    <div class="cbp-l-caption-desc"><b class="commit">Discussing the past resolutions regarding <br>Israel Palestine conflict.</b></div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="cbp-item motion identity">
                    <a href="./images/1-2.jpg" class="cbp-caption cbp-lightbox">
                        <div class="cbp-caption-defaultWrap">
                            <img src="./images/1-2.jpg" class="size" alt="" />
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignLeft">
                                <div class="cbp-l-caption-body">
                                    <div class="cbp-l-caption-title">UN HCR</div>
                                    <div class="cbp-l-caption-desc"><b class="commit">The inception and globalisation of <br>Syrian refugee crisis</b></div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="cbp-item identity graphic">
                    <a href="./images/sochum.jpg" class="cbp-caption cbp-lightbox">
                        <div class="cbp-caption-defaultWrap">
                            <img src="./images/sochum.jpg" class="size hundred" alt="" />
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignLeft">
                                <div class="cbp-l-caption-body">
                                    <div class="cbp-l-caption-title">SOCHUM</div>
                                    <div class="cbp-l-caption-desc"><b class="commit">Customizing and framing a Uniform<br> Civil Code for the Indian Scenario.</b></div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="cbp-item web-design">
                    <a href="./images/5.jpg" class="cbp-caption cbp-lightbox">
                        <div class="cbp-caption-defaultWrap">
                            <img src="./images/5.jpg" class="size" alt="" />
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignLeft">
                                <div class="cbp-l-caption-body">
                                    <div class="cbp-l-caption-title">Skate</div>
                                    <div class="cbp-l-caption-desc">by GSRthemes9</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="cbp-l-loadMore-text">
            <div data-href="#" class="cbp-l-loadMore-text-link"></div>
        </div>
    </div>
</div>
