<div id="header">
    <div id="trueHeader">
        <div class="wrapper">
            <div class="container_full">
                <header>
                    <!-- Logo -->
                    <div class="logo">
                        <a href="#home" data-scroll><img src="images/logo.jpg" alt="" />
                            <!--<img src="images/mun.png" alt="" style="width:160px;" />--></a>
                        <p class="logo-text"><b style="color:red;" class="mob_logo"> JECRC MUN</b> <span class="mob_logo white-text">2017</span><br>
                            <span class="mob_tlogo white-text">Diplomacy At Its Zenith</span>
                        </p>
                    </div>
                    <!-- Menu -->
                    <div class="menu_main">
                        <nav class="nav-collapse">
                            <ul class="menu_ul">
                                <li class="active"><a href="#about" data-scroll><i class="fa fa-circle"></i>Home</a></li>
                                <!--   <li><a href="#about" data-scroll><i class="fa fa-circle"></i>About</a></li> -->
                                <li><a href="#committee" data-scroll><i class="fa fa-circle"></i>COMMITTEES</a></li>
                                <li><a href="#venue" data-scroll><i class="fa fa-circle"></i>ITINERARY</a></li>
                                <li><a href="#" data-scroll><i class="fa fa-circle"></i>SPONSORS</a></li>
                                <li><a href="#contact" data-scroll><i class="fa fa-circle"></i>GALLERY</a></li>
                                <li><a href="#contact" data-scroll><i class="fa fa-circle"></i>AMBASSADOR</a></li>
                                <li><a href="#contact" data-scroll><i class="fa fa-circle"></i>CONTACT US</a></li>
                            </ul>
                        </nav>
                    </div>
                    <!-- end menu -->
                </header>
            </div>
        </div>
    </div>
</div>
