<div class="container">
    <div class="section1" id="about">
        <h1 class="message">MESSAGE FROM THE SECRETARY GENERAL</h1>
        <br />
        <div class="peosec"><img src="./images/ar.jpg" alt="" /> <strong>- Shivansh Ahuja<i class="black-text"> &nbsp&nbsp&nbsp&nbsp&nbsp&nbspSecretary General </i></strong></div>
        <p class="messageSec">
            <i>Greetings Delegates</i><br>
            <br>"Labor Omnia Vincit"<br>This phrase from Virgil's Georgics has stayed true to its meaning. We can achieve the zenith of success only when we are genuine and consistent with our efforts, no matter how strenuous the task is.
            Being afraid of failure is a natural instinct, but the real winner is the one who overpowers the fear and unleashes the true potential. <br><br> It gives me immense pleasure to welcome you all to JECRC Model United Nations 2017.
            It is an honor and a moment of pride to be the Secretary General of its sixth edition. I am fortunate to be a part of JECRC MUN since 2014. On behalf of my entire team I extend to you all a very warm welcome to JECRC MUN 2017.<br><br>                        JECRC MUN being one of the oldest and largest MUN conferences of our country has established a very popular name in the MUN circuit. This year we'll be simulating 5 committees wherein we'll witness discussions between delegates
            from across the country and beyond; about the measures of peace and security in the nation and around the world, the rights of refugees and resolve some international conflicts. The "why" of MUNs for me has always remained to empower
            yourself by empowering others. All the different dimensions of MUNs have a latent learning.<br><br> As Secretary General, I personally welcome the delegates from all around the globe to broaden their minds and step into the shoes
            of diplomats of the countries they represent. I, on behalf of my entire secretariat invite you to explore, how this can be achieved, and on what basis, under what framework and in what capacity. That, is the mark of an excellent
            Delegate, and we will accept no less, here at JECRC MUN 2017.<br><br> Being responsible for the secretariat, I have closely looked after all the aspects of making this Secretariat the best you could find. Please feel free to contact
            me at secgen@jecrcmun.co.in <br><br> Regards
            <br> Shivansh Ahuja<br> Secretary General, JECRC MUN 2017
        </p>
        <br>
        <br>
        <h1>Welcome to JECRC MUN 2017</h1>
        <h5><b><span class="black-text">A Model United Nations Conference(MUN)</span> is a simulation of international committees wherein national and international issues are tackled and talked about by students each of whom represents a country in the conference. MUN helps students develop their verbal and written English. It also improves debating, public-speaking and problem-solving skills. MUN conferences raise the youth's awareness of global problems and introduce them to people from different backgrounds. Another aim of MUN is to encourage students to share different views and try to understand these views.<br><br>JECRC holds credit of organizing the first MUN in Jaipur, inaugurated by Shri. Kul Bhushan Kothari, renowned educationist,&nbsp in March 2012. This is going to be the fifth venture in the same path to bring in more awareness of MUNs and their emphasis to help people cultivate in them the art of leadership and negotiation.</b></h5>
        <div class="clearfix margin_top7"></div>
        <div class="one_third">
            <div class="circle animate" data-anim-type="zoomIn" data-anim-delay="400">
                <i class="fa fa-coffee"></i>
            </div>
            <strong class="text-center">Peeking into Cultures</strong>
            <p>Exploring ethnic diversities and socities that are ever so different from ours always brings revelations. It is in unveiling this human story, we find compassion and feel connected with the rest of humanity.</p>
        </div>
        <!-- end section -->
        <div class="one_third">
            <div class="circle animate" data-anim-type="zoomIn" data-anim-delay="600">
                <i class="fa fa-tags"></i>
            </div>
            <strong class="text-center">Addressing Problems</strong>
            <p>Part of being a delegate in an MUN often involves looking at the situation inside out, from the perspective of the nations. This requires analyzing the problems faced by the natives and identifying the obstacles development in
                the region faces.</p>
        </div>
        <!-- end section -->
        <div class="one_third last">
            <div class="circle animate" data-anim-type="zoomIn" data-anim-delay="800">
                <i class="fa fa-trophy"></i>
            </div>
            <strong class="text-center">Putting Forward Solutions</strong>
            <p>What follows a Model UN Conference(usually) is a resolution, that details the modus operandi of the solution that has been put forward by the member states.</p>
        </div>
        <!-- end section -->
        <!-- end section -->
    </div>
</div>
