<div class="section5" id="blog">
    <div class="container animate" data-anim-type="fadeInUp" data-anim-delay="400">
        <h1>SECRETARIAT</h1>
        <h5><b>One of the principal organs of United Nations, the Secretariat promotes the aiding states to collectively maintain international peace and security.</b></h5>
        <div class="clearfix margin_top6"></div>
        <div class="one_third">
            <img src="./profile/forMun.jpg" alt="" class="wres secretariatImg" />
            <div class="cont">
                <h4>Chaitanaya Sethi</h4>
                <p><strong>Director General</strong><br>✆ +91-8890860033</p>
                <p><i class="fa fa-envelope"></i> chaitanayasethi13@gmail.com</p>
                <br />
                <a href="https://www.facebook.com/sethichaitanaya"><i class="fa fa-facebook"></i></a> &nbsp;
                <a href="https://www.instagram.com/sethichaitanaya/"><i class="fa fa-instagram"></i></a>
            </div>
        </div>
        <!-- end section -->
        <div class="one_third">
            <img src="./images/ar.jpg" alt="" class="wres secretariatImg" />
            <div class="cont">
                <h4>Shivansh Ahuja</h4>
                <p><strong>Secretary General</strong><br>✆ +91-9001331366</p>
                <p><i class="fa fa-envelope"></i> secgen@jecrcmun.co.in </p>
                <br />
                <a href="https://www.facebook.com/ahujashivansh"><i class="fa fa-facebook"></i></a> &nbsp
                <a href="https://www.instagram.com/shivanshahuja/"><i class="fa fa-instagram"></i></a>
            </div>
        </div>
        <!-- end section -->
        <div class="one_third last">
            <img src="./profile/krishna-dsg.JPG" alt="" class="wres secretariatImg" />
            <div class="cont">
                <h4>Krishna Vijayvargiya</h4>
                <p><strong>Deputy Secretary General</strong><br>✆ +91-9530044997</p>
                <p><i class="fa fa-envelope"></i> krishna.vijayvargiya15@gmail.com</p>
                <br>
                <a href="https://www.facebook.com/krishna.vijayvargiya.5"><i class="fa fa-facebook"></i></a> &nbsp; <a href="https://www.instagram.com/krishna_vv/"><i class="fa fa-instagram"></i></a>
            </div>
        </div>
        <!-- end section -->
    </div>
</div>
