body,html{
    margin:0;
    padding:0;
    max-width: 100%;
    overflow-x:hidden ;
}

section{
    padding: 35px 0;
}
section .container div.row:first-of-type{
    margin-bottom: 40px;
}
p{
    text-align:justify;
    font-size: 16px;
    font-family: "Roboto Slab";
}
section .row{
    margin-top: 2em;
    margin-bottom: 2em;
}
.container{
    padding-left: 25px;
    padding-right: 25px;
}
hr{
    margin:0 auto;
    width:80%;
    border-color: #9999AA;
    margin-top:5px;
}
h1{
    font-size: 50px;
    display: block;
    color: #F0b017;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding-top: 15px;
    font-family: Arial;
}
h2{
    color:#F0b017;
    text-align:center;
    font-weight:bold;
    font-size:38px;
    margin-bottom:5px;
}
h3{
    margin-top:0;
    color:#A1A67A;
    text-align:center;
    font-weight:normal;
    font-size:25px;
    margin-bottom:20px;
}
h4{
    text-align:center;
    font-weight:normal;
    font-size:22px;
    margin-bottom:5px;
    color: #809397;
    font-weight: bold;
}
h5{
    color:#FFFFFF;
    margin-top:0;
    text-align:center;
    font-weight:normal;
    font-size:15px;
}


header{
   padding-top: 60px;
}
header .container{
    width: 100%;
    padding: 0;
}
#myCarousel {
    margin-top: 10px;
}

.carousel-caption {
    background: rgba(0,38,45,0.5);
    left:0;
    right:0;
    z-index: 1;
}
.carousel-control{
    z-index: 2;
}

.carousel-caption h2 {
    text-transform: uppercase;
}

#myCarousel .item { height: 400px; }

#slide1 {
    background: url('../img/site/logo-white-big.png') top center no-repeat;
    background-size: auto 98%;
}

#slide2 {
    background: url('../img/slider/main1.jpg') top center no-repeat;
}

#slide3 {
    background: url('../img/slider/main2.jpg') bottom center no-repeat;
}
@media (min-width: 768px) {
    header{
        padding-top: 120px;
    }
    .carousel-caption{
        left: 5%;
        right: 55%;
        top:  0%;
        bottom: 0%;
        height: 100%;
        vertical-align: middle;
        display: table;
    }
    .carousel-caption h2{
        display: table-cell;
        vertical-align: middle;
    }
    #slide1 {
        background: url('../img/site/logo-white-big.png') top center no-repeat;
    }

    #slide2 {
        background: url('../img/slider/main1.jpg') top right no-repeat;
    }

    #slide3 {
        background: url('../img/slider/main2.jpg') bottom right no-repeat;
    }
    #slide2,#slide3{
        background-size: 100% auto;
    }
    #slide1 {
        background-size:auto 98%;
        background-position-x: 80%;
    }
}

section#about .col-md-4{
    padding: 1em 2.5em;
}
section#EB{
    padding-bottom:0;
}
section#comm-sec{
    background: #eee;
}
header, section#EB, section#committees, section#secretariat, section#contact{
    background: #00262D;
}
section#sg-msg{
    background: #f7f7f7;
}
section#apply, section#schedule{
    background: white;
}
section#contact{
    font-family: "ROBOTO SLAB","Helvetica Neue", Helvetica, Arial, sans-serif;
}
section#about h1,section#sg-msg h1{
    color:  #00262D;
}
section#committees p , section#secretariat p{
    color: #A1A67A;
}
section#schedule .row{
    padding: 40px 5px;
    margin-top:0;
    margin-bottom: 0;
}
section#schedule #venue-map{
    background-color:#00262D;
}
section#schedule p{
    font-size: 20px;
}
section#schedule .schedule-dates{
    margin-top: 20px;
    max-width:100px;
}
section#apply img{
    margin-bottom: 10px;
}
section#apply p{
    text-align: center;
}


/* committee containers start */

.committee-container{
    padding: 0px;
    position: relative;
    overflow: hidden;
    height: 200px;
    background-color:#cccccc;
    border:3px solid white;
    margin-bottom: 1.5em;
}
.committee-container:hover .caption{
    opacity: 1;
    bottom: 100%;
    /*
    transform: translateY(-150px);
    -webkit-transform:translateY(-150px);
    -moz-transform:translateY(-150px);
    -ms-transform:translateY(-150px);
    -o-transform:translateY(-150px);
    */
}
.committee-container p:first-of-type{
    text-align:center;
    /*margin-top:20px;*/
}
.committee-container img{
    z-index: 4;
}
.committee-container h3{
    border-top:2px solid white;
    border-bottom:2px solid white;
    padding:10px;
    margin-top: 20px;
    color: #F0b017;
    margin-bottom:5px;
}
.committee-container .caption{
    position: absolute;
    bottom :50px;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
    width: 100%;
}
section#committees .committee-container .caption .caption-text p{
    color: white;
    padding: 0 1px 0px 1px;
}
.committee-container .blur{
    background-color: rgba(0,0,0,0.7);
    height: 300px;
    z-index: 5;
    position: absolute;
    width: 100%;
}
.committee-container .caption-text{
    z-index: 10;
    color: #fff;
    position: absolute;
    height: 100%;
    text-align: center;
    top:-20px;
    width: 100%;
}

/* committee containers end */

section#secretariat ul , #lokeshModal ul{
    padding:0;
    list-style: none;
    text-align: center;
}
section#secretariat ul li, #lokeshModal li{
    display: inline-block;
}
.sec-social{
    width: 32px;
    height: 32px;
    margin:5px;
    display:block;
    float: left;
}
.sec-social.fb{ background: url(../img/site/facebook-icon.png); }
.sec-social.mail{ background: url(../img/site/mail-icon.png);   }
.sec-social.twit{ background: url(../img/site/twitter-icon.png); }
section#secretariat p{
    text-align:center;
    margin-bottom:0;
}

.img-eb{
    margin-left:20%;
    margin-right: 20%;
    width:60%;
    padding: 7px;

    background-image: -moz-linear-gradient(top, #50abdf, #1f78aa);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#50abdf), to(#1f78aa));
    background-image: -webkit-linear-gradient(top, #50abdf, #1f78aa);
    background-image: -o-linear-gradient(top, #50abdf, #1f78aa);
    background-image: linear-gradient(to bottom, #50abdf, #1f78aa);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff50abdf', endColorstr='#ff1f78aa', GradientType=0);
    background-size: 50% 100%;
    background-position: 0 0;
    background-repeat: no-repeat;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.img-eb:hover{
    background-position: 100% 50%;
    transition : background 0.5s;
}
@media (max-width: 990px) {
    .img-eb{
        width:50%;
        margin-left: 25%;
    }
}

/* animations and effects */
/*
.flytoTop{
    opacity: 0;
    transition: all 600ms ease-in-out;
    transform: translateY(100px) scale(1.05) translate3d(0, 0, 0);
    -webkit-transform: translateY(100px) scale(1.05) translate3d(0, 0, 0);
}
.flytoRight{
    opacity: 0;
    transition: all 600ms ease-in-out;
    -webkit-transform: translateX(-0px) translateY(20px) scale(1.05) translate3d(0, 0, 0);
}
.flytoLeft{
    opacity: 0;
    transition: all 600ms ease-in-out;
    transform: translateX(-100px) translateY(20px) scale(1.05) translate3d(0, 0, 0);
    -webkit-transform: translateX(0px) translateY(20px) scale(1.05) translate3d(0, 0, 0);
}
.shakeButton{
    animation: shake 0.6s ease-in-out;
    -webkit-animation: none;
}
.shakeEffect{
    opacity: 1;
    animation: shake 0.6s ease-in-out;
    -webkit-animation: shake 0.6s ease-in-out;
}
*/
.show-block {
    opacity: 1;
    transform: translateX(0) translateY(0) scale(1) translate3d(0, 0, 0);
}
@keyframes shake {
    0%,100% {  transform: translateX(0); }
    20%,60% {  transform: translateX(-10px);  }
    40%,80% {  transform: translateX(10px);  }
}
@-webkit-keyframes shake {
    0%,100% {  transform: translateX(0); }
    20%,60% {  transform: translateX(-10px);  }
    40%,80% {  transform: translateX(10px);  }
}
/*animations end */

.btn.btn-success{
    font-family: "Roboto Slab",Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding : 10px 12px;
    margin-bottom: 5px;
}

.desaturate{
    -webkit-filter: grayscale(1);
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: url(#greyscale);
    filter: gray;
}
