@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/RobotoSlab-Regular.ttf);
}
@font-face {
    font-family: 'Roboto Bk';
    font-style: normal;
    src: url(../fonts/Roboto-Black.ttf);
}

/* NAVBAR */
nav{
    background: #00262D;
}

.navbar-default {
    border-color: transparent;
    background-color: #222;
}

.navbar-default .navbar-brand {
    font-family: "Roboto Bk","Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #F0b017;
    height: 44px;
    padding:3px;
}
.navbar-default .navbar-brand span#motto{
    display: none;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: rgb(9,165,84);
}

.navbar-default .navbar-collapse {
    border-color: rgba(255,255,255,.02);
}

.navbar-default .navbar-toggle {
    border-color: #F0b017;
    background-color: #F0b017;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #F0b017;
}

.navbar-default .nav li a {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    outline: 0;
    color: #F0b017;
}

.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: #F0b017;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #F0b017;
}

.navbar-default a img{
    height: 44px;
    width: 44px;
}

@media(min-width:768px) {
    .navbar-default {
        padding: 25px 0;
        border: 0;
        background-color: transparent;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px;
    }

    .navbar-default.navbar-shrink {
        padding: 10px 0;
        background-color: #222;
    }

    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
    /* mytime */
    .navbar-default a.navbar-brand{
        height: 90px;
        padding: 0;
        position: relative;
        font-size: 35px;
        margin-top:-30px;
    }
    .navbar-default a img{
        display: inline;
        width: 90px;
        height: 90px;
        margin-left: 8px;
        margin-top: 15px;
    }
    .navbar-default a.navbar-brand span#motto{
        display: block;
        font-size: 17px;
        color: white;
        position: absolute;
        left: 110px;
        top: 72px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    .navbar-default.navbar-shrink a.navbar-brand{
        height: 60px;
        margin-top: -20px;
        font-size: 24px;
    }
    .navbar-default.navbar-shrink a img{
        width: 60px;
        height: 60px;
    }
    .navbar-default.navbar-shrink a span#motto{
        font-size: 12px;
        left: 75px;
        top: 50px;
    }
    .navbar-default .container{
        width: auto;
    }
}

/* Navbar ends */

/* footer design starts */
footer{
    background: rgb(34,34,34);
    padding: 2em 10px;
    border-top: 1px solid #F0b017;
}
footer .footer-left ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
footer .footer-left ul li{
    display: inline-block;
    margin-right: 5px;
}
footer .footer-left ul li a{
    width: 57px;
    height: 56px;
    display: block;
}
footer .footer-right{
    text-align:right;
    font-size: 17px;
}
.footer-right p{
    margin:0;
    color:#3282f3;
    text-align: right;
}
.footer-right p a{
    color: #F0b017;
}
.ftwiter{
    background:url(../img/site/footer-social-icons.png) no-repeat 0px 0px;
}
.ftwiter:hover{
    background:url(../img/site/footer-social-icons.png) no-repeat 0px -56px;
    transform:rotate(360deg);-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);
    -webkit-transition: all ease 0.4s;-moz-transition: all ease 0.4s;-ms-transition: all ease 0.4s;-o-transition: all ease 0.4s;transition: all ease 0.4s;
}
.fface{
    background: url(../img/site/footer-social-icons.png) no-repeat -70px 0px;
    -webkit-transition: all ease 0.4s;-moz-transition: all ease 0.4s;-ms-transition: all ease 0.4s;-o-transition: all ease 0.4s;transition: all ease 0.4s;
}
.fface:hover{
    background: url(../img/site/footer-social-icons.png) no-repeat -70px -56px;
    transform:rotate(360deg);-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);
}
/*footer design ends */

/* Modal styling */
@media (min-width: 500px){
    .modal-dialog {
        width: 350px;
        margin: 10px auto;
    }
}
@media (min-width: 768px){
    .modal-dialog {
        width: 400px;
        margin: 30px auto;
    }
}
.modal-content{
    font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
    overflow: hidden;
}
.modal-header{
    background: #00262D;
}
.modal-body , .modal-footer{
    background: #f7f7f7;
}
#modaldiv .modal-footer{
    border-top: none;
    padding-top: 0;
}
.modal-header h4{
    color: #F0b017;
}
.modal-header .close{
    color: red;
}
.OClist div{
    font-weight: bold;
    color: #F0b017;
}
.OClist div li{
    font-weight: normal;
    color: #00262D;
}


/* Lokesh Modal */

#lokeshModal .modal-dialog{
    width: 400px;
}
#lokeshModal .modal-content{
    overflow: visible;
}
#lokeshModal .modal-body{
    padding:0;
}
#lokeshModal .upper-intro{
    background: rgba(0,0,0,0.8);
}

#lokeshModal .upper-intro .myintro{
    width: 60%;
    padding: 2%;
    color: #A96;
    float: left;
}
#lokeshModal .upper-intro .myintro h3{
    color: #FFF;
    font-weight: bold;
}
#lokeshModal .upper-intro .mypic{
    width: 40%;
    float: left;
    position: relative;
}
#lokeshModal .upper-intro .mypic .infos{
    position:absolute;
    height: 75%;
    right: -10px;
}
.infos a {
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    -ms-border-radius: 17px;
    -o-border-radius: 17px;
    border-radius: 17px;
    -webkit-box-shadow: -1px 1px 0 1px rgba(90, 81, 15, 0.2);
    -moz-box-shadow: -1px 1px 0 1px rgba(90, 81, 15, 0.2);
    box-shadow: -1px 1px 0 1px rgba(90, 81, 15, 0.2);
    position: absolute;
    width: 20px;
    height: 22px;
    color: #fff;
    text-decoration: none;
    text-indent: -10000px;
    font-size: 12px;
    left: inherit;
    right: -1%;
}

.infos a:hover {
    padding: 2px 10px 0 18px;
    width: auto;
    border: none;
    text-indent: 0;
    opacity: 0.95; }

.sprite {
    background: url("https://docs.google.com/uc?export=download&id=0B3VygIVAuRCQRzF1d0RyWHFFRU0") no-repeat;
    background-size: 23px; }

.twitter {
    background-position: -1px 5px;
    top: 16%;
    left: -5%; }

.twitter:hover { background-color: #2094dd !important; }

.facebook {
    background-color: #3b5998 !important;
    background-position: -2px -27px;
    top: 42%;
    left: -10%; }

.facebook:hover { background-color: #3b5998 !important; }

.github {
    background-color: #444;
    background-position: -2px -10px;
    bottom: 17%;
    left: -1%; }

.github:hover { background-color: #444 !important; }

#lokeshModal .modal-footer{
    background: #00262D;
}
#lokeshModal .modal-footer p{
    text-align:center;
    padding: 5px 2px;
    margin: 0;
    color: #A96;
}
#lokeshModal .modal-footer{
    padding: 0;
}
#lokeshModal .close{
    margin-top: -10px;
}
.modal-header{
    background: #00262D;
}
/* Lokesh Modal ended */
